<div ng-if="view.visible">
    <table class="table table-striped table-dark container" ng-show="hasResults()">
        <thead>
        <tr>
            <th scope="col">Image</th>
            <th scope="col"><span>Title</span><input id="grid-input" ng-model="data.filter"
                class="form-control-sm ml-2" type="text" placeholder="{{view.gridInputPlaceHolder}}" maxlength="25">
            </th>
            <th scope="col float-right">Published</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="item in data.results | filter : data.filter">
            <td><img class="rounded" ng-src="{{item.media.m}}" /></td>
            <td><p>{{ $index + 1 }} - {{ formatTitle(item.title) }}</p></td>
            <td><p>{{ formatDate(item.published)}}</p></td>
        </tr>
        </tbody>
    </table>
    <div ng-hide="hasResults()"><p class="lead">{{error}}</p></div>
</div>
