<div ng-if="visible">
    <table class="table table-striped table-dark" ng-show="hasResults()">
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Title</th>
            <th scope="col float-right">Image</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="item in list">
            <th scope="row"><p class="lead">{{$index + 1}}</p></th>
            <td><p class="lead">{{ formatTitle(item.title) }}</p><br><br>
                <p class="font-italic pl-3">-Published on: {{ formatDate(item.published)}}</p>
            </td>
            <td><img class="rounded float-right" ng-src="{{item.media.m}}" /></td>
        </tr>
        </tbody>
    </table>
    <div ng-hide="hasResults()"><p class="lead">{{error}}</p></div>
</div>
